.title-bar {
  position: relative;
  text-align: center;
  font-size: 30px;
  margin-top: 40vh;
  margin-bottom: 50vh;
}


#name {
  color: #fff1b9;
  font-weight: 500;
  font-size: 150%;
}

.infomation {
  position: relative;
  left: 15vh;
  margin-bottom: 23px;
}

.team-list {
  position: relative;
  text-align: right;
  right: 15vh;
}

.team-list-name-1 {
  font-size: 35px;
  display: inline;
  margin: 20px;
  padding: 20px;
  padding-left: 70px;
  border: #ffffff;
  background-color: #343331;
  border-radius: 10px;
}

#kkutuio {
  position: relative;
  top: 15px;
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

.team-list-name-2 {
  font-size: 35px;
  display: inline;
  padding: 20px;
  padding-left: 30px;
  border: #ffffff;
  background-color: #343331;
  border-radius: 10px;
}

.develop-list-name-1 {
  font-size: 35px;
  display: inline;
  margin-right: 20px;
  padding: 20px;
  padding-right: 20px;
  border: #ffffff;
  background-color: #343331;
  border-radius: 10px;
  position: relative;
  top: 15px;
}

.develop-list-name-2 {
  font-size: 35px;
  display: inline;
  padding: 20px;
  padding-right: 20px;
  border: #ffffff;
  background-color: #343331;
  border-radius: 10px;
  position: relative;
  top: 15px;
}

.development {
  position: relative;
  text-align: left;
  left: 15vh;
}

.contact {
  position: relative;
  float: right;
  right: 15vh;
  padding-bottom: 40vh;
}

